footer {
    width: 100vw;
    height: 7vh;
    margin: 0;
    background-color: rgba(210, 208, 208, 1);
    position: fixed;
    bottom: 0vh;
}

footer, div{
    display: flex;
    align-items: center;
}

#divFooter {
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: space-between;

    .divLados {
        height: 5vh;
        margin: 0 1vw;


        button {
            width: 2.5vw;
            height: 2.5vw;

            margin-left: 1vw;

            border-radius: 50%;
            border: none;

            background-color: rgb(4, 4, 4);
        }

        #divEsq {
            width: 58vw;

            justify-content: flex-start;

            #iconeBotaoAdm{
                color: white;
                font-size: 1vh;
            }
        }
        
        #divDir {
            width: 38vw;

            justify-content: space-evenly;

            #email {
                font-size: 1vh;
                color: black;
            }

            #divDirBtn {
                width: 6vw;
            }
        }
    }

}