body {
    width: 100vw;
    height: 100vh;
  
    overflow: hidden;
  }
  
  header {
    width: 100vw;
  
  }
  
  header,
  #esquerda,
  #direita {
    height: 10vh;
    display: flex;
    align-items: center;
  }
  
  #esquerda {
    width: 60vw;
  
    #dino {
      width: 8vh;
      height: 8vh;
      background-color: black;
      margin: 1vh;
    }
  }
  
  #direita {
    width: 40vw;
  
    justify-content: end;
  
    .botoes {
      width: 11vw;
      height: 5vh;
  
      margin: 0vh 1vw;
      padding-left: 1vw;
      justify-content: space-between;
      display: flex;
      align-items: center;
  
      border-radius: 10vw;
      border: none;
  
      background-color: #2963B9;
      color: white;
  
      .iconBTN {
        width: 3vh;
        height: 3vh;
        margin: 0vh 1vh;
        color: white;
      }
  
      .textBTN {
        font-size: 2.25vh
      }
  
    }
  
    .botoes:hover {
      background-color: #942E2E;
      cursor: pointer;
    }
  }
  
  @keyframes moveDino {
    0% {
      transform: translateX(0);
    }
  
    50% {
      transform: translateX(50vw);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes mudarCor {
    0% {
      color: white;
    }
  
    50% {
      color: white;
    }
  
    100% {
      color: black;
    }
  }