@import url(./../header.css);
@import url(./turmas_sect.css);
@import url(./../footer.css);
@import url(./../iformacoes.css);

body{
    width: 100vw;
    height: 100vh;

    margin: 0;

    overflow: hidden;

    display: flex;
}