<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>replit</title>
    <link href="./../css/agenda/book_link.css" rel="stylesheet" type="text/css" />
    <script type="module" src="./../../Controller/header.js"></script>
    <!-- aqui vai o header(modelo pronto ja) -->
    <script type="module" src="./../../Controller/agenda/book.js" defer></script>
</head>

<body>

    <header id="header">

    </header>

    <section id="section">
        <div id="calendario">
            <div id="headerCalendario">
            </div>
            <div id="recheioCalendario">

            </div>
        </div>
        <div id="agendadador">
            <div id="data">
                <h1>02/01</h1>
            </div>
            <div id="aulas">
                <div id="estado">
                    <div class="estado"></div>
                    <div class="estado"></div>
                    <div class="estado"></div>
                    <div class="estado"></div>
                    <div class="estado"></div>
                    <div class="estado"></div>
                    <div class="estado"></div>
                    <div class="estado"></div>
                    <div class="estado"></div>
                    <div class="estado"></div>
                    <div class="estado"></div>
                </div>
                <div id="horario">
                    <h1 class="horario">Primeira Aula, Matutino</h1>
                    <h1 class="horario">Segunda Aula, Matutino</h1>
                    <h1 class="horario">Terceira Aula, Matutino</h1>
                    <h1 class="horario">Quarta Aula, Matutino</h1>
                    <h1 class="horario">Quinta Aula, Matutino</h1>
                    <h1 class="horario">Sexta Aula, Matutino</h1>
                    <h1 class="horario">Primeira Aula, Vespertino</h1>
                    <h1 class="horario">Segunda Aula, Vespertino</h1>
                    <h1 class="horario">Terceira Aula, Vespertino</h1>
                    <h1 class="horario">Quarta Aula, Vespertino</h1>
                    <h1 class="horario">Quinta Aula, Vespertino</h1>
                </div>
            </div>
            <button>AGENDAR</button>
        </div>
    </section>

    <footer id="footer">

    </footer>

</body>

</html>