<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="./../css/home/home_link.css">
    <script type="module" src="./../../Controller/header.js"></script>
    <!-- aqui vai o header(modelo pronto ja) -->

    <script type="module" src="./../../Controller/home/home.js" defer></script>
    <script src="" crossorigin="anonymous"></script>
</head>

<body>
    <header id="header">
        <!-- vai ser gerado por funcao, de forma padronizado -->
    </header>

    <section id="section">
        <h1>home</h1>
    </section>

    <footer id="footer">

    </footer>
</body>

</html>