<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="./../css/projetos/projetos_link.css">
    <script type="module" src="./../../Controller/header.js"></script>
    <!-- aqui vai o header(modelo pronto ja) -->
    <script type="module" src="./../../Controller/footer.js"></script>
    <!-- aqui vai o footer(modelo pronto ja) -->

    <script type="module" src="./../../Controller/projetos/projetos.js" defer></script>
    <script src="" crossorigin="anonymous"></script>
</head>

<body>
    <header id="header">
        <!-- vai ser gerado por funcao, de forma padronizado -->
    </header>

    <section id="section">
        <h1>projetos</h1>
    </section>
    
    <section id="informacao">
        <button id="cancelIf" onclick="esconderTelaInfos()">
            Cancelar
        </button>
        <div id="">
            <!--
                Informacoes do Site:
                - email
                - contato
                - rede social
                - direitos autorais do site 
            -->
        </div>
    </section>

    <footer id="footer">

    </footer>
</body>

</html>