<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="">
    <script type="module" src=""></script>
    <!-- aqui vai o header(modelo pronto ja) -->

    <script type="module" src="" defer></script>
    <script src="" crossorigin="anonymous"></script>
</head>

<body>
    <header id="header">
        <!-- vai ser gerado por funcao, de forma padronizado -->
    </header>
</body>

</html>